[submodule "src/libraries/Crow"]
	path = src/libraries/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
