name: CMake

on:
  push:
    branches: [ "trunk" ]
  pull_request:
    branches: [ "trunk" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install libcurl and asio headers
      run: sudo apt update && sudo apt install --no-install-recommends --fix-missing -y libasio-dev libcurl4-openssl-dev

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --target client server --config ${{env.BUILD_TYPE}} -- -j 2
    #Disable Github actions testing for now, looks difficult to set up
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Spell check
      run: cmake --build ${{github.workspace}}/build --target code-spell-ci
    - name: Linting
      run: cmake --build ${{github.workspace}}/build --target code-lint-ci
    - name: Static Analysis
      run: cmake --build ${{github.workspace}}/build --target code-analyze-ci
    - name: GTest
      # Execute tests defined by the CMake configuration.
      run: |
           cmake --build ${{github.workspace}}/build --target tiger-test -- -j 2;
           ${{github.workspace}}/build/tests/tiger-test
